.container {
	height: fit-content;
	width: fit-content;
	padding: 15px 10px;
	border-radius: 5px;
	filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.25));
}
.item {
	width: fit-content;
	display: flex;
	margin-bottom: 6px;
	align-items: center;
}
.item i {
	margin-right: 6px;
}
.item p {
	white-space: nowrap;
}

.hr {
	margin-bottom: 6px;
	width: 100%;
	height: 1px;
	border-top: solid 0.5px rgba(255, 255, 255, 0.9);
}
