.container {
	position: fixed;
	bottom: 0;
	width: 100vw;
	background-color: #2e2e2e;
	display: flex;
	padding: 8px 35px;
	align-items: center;
	justify-content: space-between;
}
.home {
	order: -1;
}
.filterToPrimary {
	filter: saturate(100%) brightness(0);
	filter: invert(53%) sepia(90%) saturate(1548%) hue-rotate(222deg)
		brightness(105%) contrast(98%);
}
