.background {
	width: 100vw;
	height: 100vh;
	position: fixed;
	left: 0;
	top: 0;
	z-index: -1000;
	background-color: #2a2a2a;
}
.container {
	margin-top: 75px;
	text-align: center;
}
.container .btn {
	margin-top: 15px;
}
.title {
	margin-bottom: 25px;
	font-weight: 600;
}
.or {
	display: flex;
	flex-flow: row nowrap;
	width: 85vw;
	font-size: 1.1rem;
	margin: 22px auto;
	font-weight: 500;
}
.or p {
	margin: 0 1.3rem;
}
.or hr {
	border-top: 1px solid rgba(255, 255, 255, 0.9);
	align-self: center;
	width: 100%;
}
.container > a {
	margin-top: 15px;
	font-size: 18px;
	text-decoration: none;
	/* color: #bb86fc; */
}
.error {
	color: #cf6679;
}
.wrongCreds {
	text-align: center;
	position: fixed;
	width: 100%;
	top: 0;
	line-height: 50px;
	margin: 0 auto;
	background-color: #cf6679;
	color: black;
	height: 50px;
}
